body {
	padding: 2rem;
	height: 100vh;
	background-color: $color-bg;
	font-family: $font-main;
}

img {
	width: 60px;
	height: 60px;
	margin: 30px;
}

ul {
	list-style: none;
}

.searchBox {
	text-align: center;
}

.containerAccount {
	display: flex;
	align-items: center;
	justify-content: center;
}

.statButton {
	margin: 5px;
}

.statButtonFocus {
	margin: 5px;
	background-color: red;
}

.sectionOfType {
	border: 1px solid black;
	margin: 20px;
}

.sectionOfTypeTitle {
	margin-bottom: 10px;
	text-align: center;
}

.listButtonsPlataform {
	display: flex;
}

.listDataStats {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
	overflow-x: scroll;
}

.sectionOfTypeItem {
	display: flex;
	width: auto;
	margin: 10px;
	padding: 10px;
	justify-content: space-around;
}

.listDataOverall{
	display: flex;
	margin: 20px;
	justify-content: space-around;
	padding: 10px;
}

.itemOverall{
	text-align: center;
}

.containerSuggestions{
}

.suggestionsList{
	background-color: beige;
	margin:0 auto;
	width: 30%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	border: 1px outset #cccccc;
}

.sugestionsListItem{
	cursor: pointer;
}
