body {
	padding: 2rem;
	height: 100vh;
	background-color: $color-bg;
	font-family: $font-main;
}

img {
	width: 60px;
	height: 60px;
	margin: 30px;
}

.containerAccount {
	display: flex;
	align-items: center;
}

.statButton {
	margin: 5px;
}

.statButtonFocus {
	margin: 5px;
	background-color: red;
}

.sectionOfType {
	border: 1px solid black;
	margin: 20px;
}

.sectionOfTypeTitle {
	margin-bottom: 10px;
}

ul {
	list-style: none;
	display: flex;
}

.sectionOfTypeItem {
	display: flex;
	width: 120px;
}
